section {
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  color: white !important;
  text-transform: uppercase;
}

#hjk {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  aspect-ratio: 1/1;
  object-fit: cover;
  filter: hue-rotate(194deg) grayscale(0) brightness(0.6) blur(4px)
    contrast(19.5);
}

#hjk {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  aspect-ratio: 1/1;
  object-fit: cover;
  filter: hue-rotate(314deg) grayscale(0) brightness(0.56) blur(4px)
    contrast(19.5);
}

#hjk {
  display: none;
}
